body{  
    background-color:#2C2F33;
}

textarea {
    resize: none;
}

h1{
    text-align: center;
	color:white;
}
h2{
	
	font-size: 24px;
	font-family: sans-serif;
	
}
h3{
	
	font-size: 18px;
	font-family: sans-serif;
	
}
.logo{
    position: fixed;
    left:0;
    top:0;
	height:50px;
	
}

.main-menu ul{
    margin:0px;
    padding-left: 0;
	font-size:26px;
	font-family:sans-serif;
}

.main-menu{
    float:right;
	 background-color:#2C2F33;
}

.main-menu li{
    display: inline-block;
}

ul#page-header{
    padding:0;
    margin:0;
    list-style-type:none;
    width: 100%;
    color:black;
    background-color: white;
}

ul#page-header li{
    display: inline;
}

ul#page-header li a{
    float:left;
    color:black;
    background-color:white;
    padding: 0.2em 1em;
    text-decoration: none;
}

ul#page-header li a:hover{
    background-color: rgb(114, 230, 139);
    color:white;
}

.footer{
    color: white;
    width:100%;
    text-align:center;
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: #7289DA;
  padding: 10px;
}
.grid-item {
  background-color: #7289DA;
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}


.profile-form{
    width: 500px;
    background-color:rgb(114, 230, 139);
    font-size:30px;
    display:inline-block;
}

.container{
    text-align:center;
    padding-top: 50px;
    padding-bottom: 50px;
}


.auction{
    width: 325px;
    border: 1px solid black; 
    text-align: center;
    font-size:30px;
    display: inline-block;
    vertical-align: top;
    background-color: rgb(114, 230, 139)
}

.dosier{
    background-color:yellow;
    font-size: 20px;
    width: 325px;
    display: inline-block;
    border: 1px solid black;
    text-align: left;
}