body{  
    
}

img{
    width: 20%;
    height: 20%;
}

.main-menu ul{
    margin:0px;
    padding-left: 0;
}

.main-menu{
    display: inline-block;
}

.main-menu li{
    display: inline-block;
}

ul#page-header{
    padding:0;
    margin:0;
    list-style-type:none;
    width: 100%;
    color:black
    background-color: white;
}

ul#page-header li{
    display: inline;
}

ul#page-header li a{
    float:left;
    color:black;
    background-color:white;
    padding: 0.2em 1em;
    text-decoration: none;
}

ul#page-header li a:hover{
    background-color: green;
    color:white;
}
